@tailwind base;

@layer base {
	:root {
		--background: 240 60% 99%;
		--foreground: 246 76% 5%;
		--card: 14 87% 97%;
		--card-foreground: 16 87% 6%;
		--popover: 14 87% 97%;
		--popover-foreground: 16 87% 6%;
		--primary: 10 90% 55%;
		--primary-foreground: 16 87% 6%;
		--secondary: 163 89% 74%;
		--secondary-foreground: 16 87% 6%;
		--muted: 14 86% 20%;
		--muted-foreground: 16 87% 70%;
		--accent: 210 90% 61%;
		--accent-foreground: 16 87% 6%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 16 87% 6%;
		--border: 14 86% 20%;
		--input: 14 86% 20%;
		--ring: 210 90% 40%;
		--radius: 0.5rem;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 240 60% 1%;
			--foreground: 243 76% 95%;
			--card: 14 87% 3%;
			--card-foreground: 16 87% 94%;
			--popover: 14 87% 3%;
			--popover-foreground: 16 87% 94%;
			--primary: 10 90% 45%;
			--primary-foreground: 14 87% 3%;
			--secondary: 163 89% 26%;
			--secondary-foreground: 14 87% 3%;
			--muted: 14 86% 80%;
			--muted-foreground: 16 87% 94%;
			--accent: 210 90% 39%;
			--accent-foreground: 16 87% 94%;
			--destructive: 0 62% 30%;
			--destructive-foreground: 16 88% 10%;
			--border: 14 87% 60%;
			--input: 14 86% 80%;
			--ring: 210 90% 60%;
		}
	}

	:root {
		color-scheme: light dark;
	}
}

@tailwind components;
@tailwind utilities;
