@tailwind base;

@layer base {
	:root {
		--background: 45 100% 96%;
		--foreground: 43 90% 4%;
		--card: 45 100% 96%;
		--card-foreground: 43 90% 4%;
		--popover: 45 100% 96%;
		--popover-foreground: 43 90% 4%;
		--primary: 31 100% 50%;
		--primary-foreground: 43 90% 4%;
		--secondary: 45 100% 92%;
		--secondary-foreground: 43 90% 4%;
		--muted: 45 100% 20%;
		--muted-foreground: 43 90% 70%;
		--accent: 18 93% 42%;
		--accent-foreground: 45 100% 96%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 43 90% 4%;
		--border: 45 100% 20%;
		--input: 45 100% 20%;
		--ring: 18 93% 40%;
		--radius: 0.5rem;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 45 100% 4%;
			--foreground: 43 90% 96%;
			--card: 45 100% 4%;
			--card-foreground: 43 90% 96%;
			--popover: 45 100% 4%;
			--popover-foreground: 43 90% 96%;
			--primary: 31 100% 50%;
			--primary-foreground: 45 100% 4%;
			--secondary: 45 100% 8%;
			--secondary-foreground: 43 90% 96%;
			--muted: 45 100% 80%;
			--muted-foreground: 43 90% 96%;
			--accent: 18 93% 58%;
			--accent-foreground: 45 100% 4%;
			--destructive: 0 62% 30%;
			--destructive-foreground: 43 88% 10%;
			--border: 45 100% 60%;
			--input: 45 100% 80%;
			--ring: 18 93% 60%;
		}
	}

	:root {
		color-scheme: light dark;
	}

	html {
		@apply border-border h-full scroll-smooth;
		scrollbar-gutter: stable;
	}

	html body {
		@apply bg-background text-foreground mx-auto flex h-full max-w-3xl flex-col px-8 pt-16 font-sans text-base font-normal antialiased;
	}
}

@tailwind components;
@tailwind utilities;
