---
import PageLayout from "@/layouts/PageLayout";

const meta = {
	title: "Not found",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="themed-title mb-6">
		<span class="text-primary">404</span> | Oops something went wrong!
	</h1>
	<p class="mb-8">Please use the navigation to find your way back.</p>
</PageLayout>
