---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout";
import SocialList from "@/components/SocialList";
import PostPreview from "@/components/blog/PostPreview";
import ProjectItem from "@/components/home/ProjectItem";
import ExcitedTechnologyItem from "@/components/home/ExcitedTechnologyItem";
import { getAge, sortMDByDate } from "@/utils";
import { PROJECTS, EXCITED_TECHNOLOGIES } from "@/data/constants";

const age = getAge("2000-04-01");

const MAX_POSTS = 5;
const allPosts = await getCollection("blog", ({ data }) => data.draft !== true);
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects = PROJECTS;
const excitedTechnologies = EXCITED_TECHNOLOGIES;
---

<PageLayout meta={{ title: "home" }}>
	<section aria-label="Introduction">
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi there, I'm <strong>Sean Cassiere</strong>. I'm {age} y/o and currently pursuing
			a <strong> Master in IT</strong>.
		</p>
		<p class="mb-4">
			I like jamming out to tunes on Spotify and venturing on side-projects that
			are never completed 😅. I live in VSCode and have a passion following
			open-source technologies.
		</p>
		<SocialList />
	</section>
	<section class="mt-12" aria-label="Projects">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
			{
				projects.map((project) => (
					<li>
						<ProjectItem item={project} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-12" aria-label="Blog posts">
		<h2 class="title mb-4 text-xl">Blog</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row-reverse sm:justify-between [&>time]:sm:text-right">
						<PostPreview post={p} />
					</li>
				))
			}
			{
				allPosts.length > MAX_POSTS && (
					<li class="pt-4">
						<a href="/blog" class="cactus-link" rel="prefetch">
							All posts →
						</a>
					</li>
				)
			}
		</ul>
	</section>
	<section class="mt-12" aria-label="Technology that I love">
		<h2 class="title mb-4 text-xl">I'm in ❤️ with this tech</h2>
		<ul class="space-y-4 sm:space-y-3">
			{
				excitedTechnologies.map((technology) => (
					<li>
						<ExcitedTechnologyItem item={technology} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
