---
import type { ExcitedTechnology } from "@/data/constants";

interface Props {
	item: ExcitedTechnology;
}

const { item } = Astro.props;
---

<a
	href={item.link}
	target="_blank"
	rel="noopener noreferrer"
	class="cactus-link inline-block"
	>{item.name}
</a>:
<p class="inline-block sm:mt-2">{item.tagLine}</p>
