---
import type { Project } from "@/data/constants";

interface Props {
	item: Project;
}

const { item } = Astro.props;
---

<article class="" aria-label={item.name}>
	<a
		href={item.link}
		target="_blank"
		rel="noopener noreferrer"
		class="themed-link mb-4 inline-block">{item.name}</a
	>
	<p>{item.description}</p>
</article>
