---
import { getFormattedDate } from "@/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
	content: CollectionEntry<"post">;
}

const { content } = Astro.props;

const datetime = content.data.publishDate.toISOString();
const postDate = getFormattedDate(content.data.publishDate, { month: "long" });
---

<h1 class="title mb-3 sm:mb-1">{content.data.title}</h1>
<time datetime={datetime}>{postDate}</time>
<p class="mt-8">{content.data.description}</p>
