---
import DocumentMeta from "@/components/DocumentMeta";
import type { Props as DocumentMetaProps } from "@/components/DocumentMeta";
import Navigation from "@/components/Navigation";

interface Props {
	meta: DocumentMetaProps;
}

const { meta } = Astro.props;
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html
	lang="en"
	class="bg-background text-foreground selection:bg-secondary min-h-dvh scroll-smooth"
	style="scrollbar-gutter: stable;"
>
	<head>
		<DocumentMeta {...meta} />
	</head>
	<body class="relative flex min-h-dvh flex-col justify-between">
		<div
			id="reader-progess-bar-container"
			class="fixed top-0 right-0 left-0 w-full bg-transparent md:hidden"
			style="--progess-width: 0%; --progress-height: 0.25em; height: var(--progress-height)"
			aria-hidden="true"
		>
			<div
				class="bg-secondary float-left"
				style="width: var(--progess-width); height: var(--progress-height);"
			>
			</div>
		</div>
		<div>
			<a
				href="#main-block"
				class="sr-only focus:not-sr-only focus:fixed focus:start-1 focus:top-1.5"
			>
				skip to content
			</a>
			<Navigation
				class="mx-auto flex w-full max-w-2xl items-center justify-start px-4 pt-10 pb-8"
			/>
			<main id="main-block" class="mx-auto w-full max-w-2xl px-4 py-2.5">
				<slot />
			</main>
		</div>
		<footer
			class="border-foreground/50 mx-auto w-full max-w-2xl border-t px-4 pt-2.5 pb-8"
		>
			<div class="text-foreground/75 flex items-center justify-center gap-1.5">
				<span>Copyright © {currentYear}</span>
				<span>·</span>
				<span>Sean Cassiere</span>
			</div>
		</footer>
	</body>
</html>
