---
import DocumentMeta from "@/components/DocumentMeta";
import type { Props as DocumentMetaProps } from "@/components/DocumentMeta";
import Navigation from "@/components/Navigation";

interface Props {
	meta: DocumentMetaProps;
}

const { meta } = Astro.props;
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html
	lang="en"
	class="min-h-dvh scroll-smooth bg-background text-foreground selection:bg-primary/40"
	style="scrollbar-gutter: stable;"
>
	<head>
		<DocumentMeta {...meta} />
	</head>
	<body class="flex min-h-dvh flex-col justify-between">
		<div>
			<a
				href="#main-block"
				class="sr-only focus:not-sr-only focus:fixed focus:start-1 focus:top-1.5"
			>
				skip to content
			</a>
			<Navigation
				class="mx-auto flex w-full max-w-2xl items-center justify-between px-4 pb-8 pt-10"
			/>
			<main id="main-block" class="mx-auto w-full max-w-2xl px-4 py-2.5">
				<slot />
			</main>
		</div>
		<footer
			class="mx-auto w-full max-w-2xl border-t border-foreground/50 px-4 pb-8 pt-2.5"
		>
			<div class="flex items-center justify-center gap-1.5 text-foreground/75">
				<span>Copyright © {currentYear}</span>
				<span>·</span>
				<span>Sean Cassiere</span>
			</div>
		</footer>
	</body>
</html>
