---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import PostHero from "@/components/blog/PostHero";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const {
	data: { title, description, ogImage, publishDate, draft },
	slug,
} = post;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const articleDate = publishDate.toISOString();
---

<script>
	document.addEventListener("astro:page-load", () => {
		const scrollBtn =
			(document.getElementById("to-top-btn") as HTMLButtonElement) || null;
		const targetHeader =
			(document.getElementById("blog-hero") as HTMLDivElement) || null;

		if (!scrollBtn || !targetHeader) return;

		function callback(entries: IntersectionObserverEntry[]) {
			entries.forEach((entry) => {
				// only show the scroll to top button when the heading is out of view
				scrollBtn.dataset.show = (!entry.isIntersecting).toString();
			});
		}

		scrollBtn.addEventListener("click", () => {
			document.documentElement.scrollTo({ top: 0, behavior: "smooth" });
		});

		const observer = new IntersectionObserver(callback);
		observer.observe(targetHeader);
	});
</script>

<PageLayout meta={{ title, description, articleDate, ogImage: socialImage }}>
	{
		draft && (
			<blockquote
				class="my-8 bg-foreground py-4 pl-4 text-background"
				role="alert"
			>
				This post is a <strong>draft</strong>. If you're reading this, you're
				privy to the secret link. Please <strong>don't share</strong> it with
				anyone.
			</blockquote>
		)
	}
	<aside class="mb-8">
		<a
			href="/blog"
			class="py-4 underline-offset-4 sm:py-0 sm:hover:underline"
			rel="prefetch"
		>
			← All posts
		</a>
	</aside>
	<article class="flex flex-col gap-y-5 break-words">
		<div id="blog-hero">
			<PostHero content={post} />
		</div>
		<div
			class="prose prose-blog prose-headings:scroll-mt-4 prose-headings:font-semibold prose-headings:before:absolute prose-headings:before:-ms-5 prose-headings:before:text-primary prose-headings:before:content-['#'] hover:prose-headings:before:underline hover:prose-headings:before:underline-offset-4 prose-th:before:content-none sm:prose-headings:before:-ms-6 [&>u]:underline-offset-4"
		>
			<slot />
		</div>
	</article>
	<button
		id="to-top-btn"
		class="z-90 fixed bottom-8 end-4 flex h-10 w-10 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-accent text-3xl text-background opacity-0 outline-none transition-all duration-300 focus-within:outline-none hover:border-border focus-visible:border-border focus-visible:outline-none data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:end-8 sm:h-12 sm:w-12"
		aria-label="Back to Top"
		data-show="false"
		><svg
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
			focusable="false"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			class="h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
		</svg>
	</button>
</PageLayout>
